* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.wrapper{
    width: 100%;
    height: 80px;
}
.nav {
    width: 100%;
    height: 80px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 24px;
}
.nav a {
    color: inherit;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li:active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}