@import url(
'https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-documenteditor/styles/material.css";



  
.App {
  width: 100%;
  height: 100%;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-image: linear-gradient(
    120deg, #fdfbfb 100%, #ebedee 100%); */
}
  
h1 {
  font-family: 'Roboto';
  font-size: 50px;
  color: #4644f0;
}
  
.draw-area {
  width: 1024px;
  height: fit-content;
  border: 2px solid #000000;
  position: relative;
  background-color: white;
}
  
.Menu {
  width: 1024px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center;
  background-color: #a3a3a32d;
  margin: auto;
  margin-top: 10px;
}

#markdown-rectangle{
  width: 1024px;
  height: 792px;
  background-color: white;
  outline: 5px;
  outline-color: black;
  outline-width: 5px;
  border: 5px solid black;
  box-shadow: 5px grey;
  margin-top: 20px;
}

.button-container button {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: rgb(133, 221, 221);
  color: white;
  border-radius: 8px;
  transition: background-color 0.1s;
}

.button-container button:active {
  background-color: #4682B4;
  /* You can add more styles for the active state as needed */
}